---
import {basename} from 'node:path';
import {render} from 'astro:content';
import Main from '../../layouts/Main.astro';
import Header from '../../components/Header.astro';
import PollComponent from '../../components/Poll.astro';
import {polls} from '../../lib/polls';
import type {Poll} from '../../lib/polls';

export async function getStaticPaths() {
	return (
		polls
		.map(poll => ({
			params: {
				poll: basename(poll.id)
			},
            props: {
				poll
			},
		}))
	);
}

interface Props {
	poll: Poll
}

const {poll} = Astro.props;
const {headings} = await render(poll);
---

<Main title={headings[0]?.text}>
	<Header/>

    <PollComponent
		poll={poll}
	/>
</Main>